@{
    ViewData["Title"] = "Home Page";
}
<!--========== HOME ==========-->
<section id="home">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="text-success display-1">Oukay</h1>
            <p class="display-4">Your online ukay-ukay store</p>
            <p class="display-4">
                
                <a class="btn btn-success btn-lg" href="#featured" role="button">Learn more</a>
            </p>
        </div>
        <div class="col-lg-6">
            <img src="https://i.ibb.co/71vTYd1/logo.png" alt="logo" width="500px" border="0" class="float-right">
        </div>
    </div>
</section>

<br />
<br />

<hr style="        width: 50%;
        border-top: 3px solid #ffef2a;" />
<br />
<br />
<!--========== About ==========-->
<section id="about">
    <div class="row">
        <div class="col-lg-6">

            <img src="https://i.ibb.co/8cv4x5Q/about.jpg" alt="logo" width="400px" border="0" class="float-left">

        </div>
        <div class="col-lg-6">
            <span class="text-success lead">About us</span>
            <h1 class="display-4 text-dark">Shop ukay-ukay <br /> anytime, anywhere</h1>
            <p class="lead">Oukay offers you conveniece and safety, without going out your house, you can easily find retro and vintage pieces to match your wardrobe.</p>
            <p class="lead">
                <a class="btn btn-success btn-lg" href="#owners" role="button">Explore Owners</a>
            </p>
        </div>
    </div>
</section>

<br />
<br />
<br />
<br />
<!--========== Featured ==========-->
<section id="featured">
    <center>
        <div class="container">
            <span class="text-success lead">Special</span>
            <h1 class="display-4 text-dark">Featured</h1>

            <div class="container-fluid">
                <div class="row">
                    <div class="column">
                        <a href="~/Store/Index"> <img src="https://i.ibb.co/BBYRZ8Y/h6.png" alt="h6" width="300px" border="0"></a>

                        <a href="~/Store/Index">
                            <img src="https://i.ibb.co/87y6n19/h2.png" alt="h2" width="300px" border="0">
                            <img src="https://i.ibb.co/njmxQbX/h1.png" alt="h1" width="300px" border="0">
                            <img src="https://i.ibb.co/nMFpDLY/h8.png" alt="h8" width="300px" border="0">
                            <img src="https://i.ibb.co/pKTz7kP/h4.png" alt="h4" width="300px" border="0">
                            </a>
                    </div>
                    <div class="column">
                        <a href="~/Store/Index">
                            <img src="https://i.ibb.co/8Y60n6R/h11.png" alt="h11" width="300px" border="0">
                            <img src="https://i.ibb.co/8mT99dt/h12.png" alt="h12" width="300px" border="0">
                            <img src="https://i.ibb.co/pKTz7kP/h4.png" alt="h4" width="300px" border="0">
                            <img src="https://i.ibb.co/b39mjG7/h7.png" alt="h7" width="300px" border="0">

                            </a>
                    </div>
                    <div class="column">
                        <a href="~/Store/Index">
                            <img src="https://i.ibb.co/yqR14ZH/h9.png" alt="h9" width="300px" border="0">
                            <img src="https://i.ibb.co/KbR62Gn/h5.png" alt="h5" width="300px" border="0">
                            <img src="https://i.ibb.co/LxqWmHq/h13.png" alt="h13" width="300px" border="0">
                            <img src="https://i.ibb.co/gTmsMVB/h10.png" alt="h10" width="300px" border="0">
                            </a>
                    </div>
                </div>

            </div>
        </div>
    </center>
</section>

<br />
<br />
<br />
<br />
<br />
<br />
<!--========== Owner ==========-->

<section id="owners">
    <div class="container">
        <center>
            <h3>The Owners</h3>
            <br />
            <br />
            <div class="row align-items-center">
                <div class="col-sm">
                    <img src="https://i.ibb.co/Jv59h6Y/machu.png" width="150px" alt="machu" border="0">
                    <h3 class="services__title">Matthew Layon</h3>
                </div>
                <div class="col-sm">
                    <img src="https://i.ibb.co/8KL6ByZ/aly.png" width="150px" alt="aly" border="0" class="align-content-center">
                    <h3 class="services__title">Alyssa Falsis</h3>
                </div>
                <div class="col-sm float-right">
                    <img src="https://i.ibb.co/xmSLdGp/zoi.png" width="150px" alt="zoi" border="0">
                    <h3 class="services__title">Zoilo Poblete</h3>
                </div>
            </div>
        </center>

    </div>
</section>

<br />
<br />
<br />
<br />
<!--========== Project Oukay ==========-->
<section id="project">
    <div class="row">
        <div class="col-lg-6">

            <img src="https://i.ibb.co/k2n63DT/projectoukay.png" alt="logo" width="400px" border="0" class="float-left">

        </div>
        <div class="col-lg-6">
            <span class="text-success lead">Project Oukay</span>
            <h1 class="display-4 text-dark">Oukay?Oukay.</h1>
            <p class="lead">With every purchase you can help a person in need. Half of the processd will be used in gathering a pandemic kit called "Oukay?" that includes pandemic essentials which will be given to the less fotrunate.</p>

        </div>
    </div>
</section>

<br />
<br />

<hr style="        width: 50%;
        border-top: 3px solid #ffef2a;" />
<br />
<br />
<!--========== Contact ==========-->
<br />
<br />
<section id="contact">
    <div class="row">
        <div class="col-lg-6">

            <span class="text-success lead">Let's Talk</span>
            <h1 class="display-4 text-dark">Contact us</h1>
            <p class="lead">
                If you have any inquiries about the collections or questions about your orders, you may contact us through our social media account and through our email. We will get to you as soon as possible.

            </p>
            <p class="lead">
                <a class="btn btn-success btn-lg" href="~/Home/Contact" role="button">Contact</a>
            </p>


        </div>
        <div class="col-lg-6">

            <img src="https://i.ibb.co/R0tVyrk/store.jpg" alt="logo" width="400px" border="0" class="float-right">

        </div>
        
</section>


