/*========== HOME ==========*/
.home__container {
    height: calc(100vh - var(--header-height));
    align-content: center;
}

.home__title {
    
    margin-bottom: var(--mb-1);
}

.home__subtitle {
   
    margin-bottom: var(--mb-4);
}

.home__img {
    width: 300px;
    justify-self: center;
}


.services__container {
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
    text-align: center;
}

.services__img {
    width: 64px;
    height: 64px;
    fill: var(--first-color);
    margin-bottom: var(--mb-2);
}

.services__title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.services__description {
    padding: 0 1.5rem;
}
.services__container {
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
    text-align: center;
}

.services__img {
    width: 64px;
    height: 64px;
    fill: var(--first-color);
    margin-bottom: var(--mb-2);
}

.services__title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.services__description {
    padding: 0 1.5rem;
}

.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer__logo {
    font-size: var(--h3-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

.footer__description {
    display: block;
    font-size: var(--small-font-size);
    margin: .25rem 0 var(--mb-3);
}

.footer__social {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-2);
}

.footer__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-2);
}

.footer__link {
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--mb-1);
}

    .footer__link:hover {
        color: var(--first-color);
    }

.footer__copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
}

.alert-box {
    background-color: #fffbcc;
    color: #777;
    font-size: 14px;
    line-height: 23px;
    padding: 13px 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

    .alert-box .badge {
        background-color: #f58f2a;
        border-radius: 3px;
        color: #fff;
        margin-left: 4px;
        margin-right: 4px;
        padding: 3px 5px 3px 4px;
        font-weight: bold;
        text-transform: uppercase;
    }