@{
    Layout = null;
}

<<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OUKAY</title>
    <script src="~/Models/assets/js/main.js"></script>
    <link href="~/Views/GrpAct/Checkout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/Media/style.css" rel="stylesheet" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link href="~/Models/assets/css/styles.css" rel="stylesheet" />
</head>

<body style="        background-color: #fff8e8;
        font-family: 'Poppins', sans-serif;">

    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="#" class="nav__logo" style="font-size: 15px;">Oukay</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list" style="font-size: 15px;">
                    <li class="nav__item"><a href="~/Views/GrpAct/Login.cshtml" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">Shop</a></li>
                    <li class="nav__item"><a href="~/GrpAct/Login" class="nav__link"><i class="fa fa-shopping-cart"></i></a></li>
                    <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>
    <br /><br />
    <header></header>
    @*<div class="container">
            <div class="stepwizard col-md-offset-3">
                <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step ott">
                            <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                            <p>Personal Information</p>
                        </div>
                        <div class="stepwizard-step ott">
                             <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                             <p>Shipping Information</p>
                        </div>
                        <div class="stepwizard-step ott">
                             <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                             <p>Thank you!</p>
                        </div>
                </div>
            </div>

            <form role="form" action="" method="post">
                <div class="row setup-content" id="step-1">
                    <div class="col-xs-6 col-md-offset-3">
                        <div class="col-md-12">
                            <h3> Provide Information</h3>
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <strong>First Name:</strong>
                                    <input type="text" name="first_name" class="form-control" value="" required="required" />
                                </div>
                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <strong>Last Name:</strong>
                                    <input type="text" name="last_name" class="form-control" value="" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Address:</strong></div>
                                <div class="col-md-12">
                                    <input type="text" name="address" class="form-control" value="" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <strong>Country:</strong>
                                    <input type="text" name="country" class="form-control" value="" required="required" />
                                </div>
                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <strong>State:</strong>
                                    <input type="text" name="state" class="form-control" value="" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <strong>City:</strong>
                                    <input type="text" name="city" class="form-control" value="" required="required" />
                                </div>
                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <strong>Zip / Postal Code:</strong>
                                    <input type="text" name="zip_code" class="form-control" value="" required="required" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12"><strong>Phone Number:</strong></div>
                                <div class="col-md-12"><input type="text" name="phone_number" class="form-control" value="" required="required" /></div>
                            </div>

                            <button class="btn btn-success nextBtn btn-lg pull-right" type="button">Proceed</button>
                        </div>
                    </div>
                </div>

                <div class="row setup-content" id="step-2">
                    <div class="col-xs-6 col-md-offset-3">
                        <div class="col-md-12">
                            <h3>Shipping Information</h3>
                            <p>Note: This shop only supports <b>COD</b> as mode of payment.</p>
                            <p>Please select a courier.</p>
                            <div class="radio">
                                <label><input type="radio" name="optradio" value="Lalamove" required="required" checked>Lalamove</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio" value="Mr.Speedy" required="required">Mr.Speedy</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio" value="Grab" required="required">Grab</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio" value="LBC" required="required">LBC</label>
                            </div>
                            <button class="btn btn-success nextBtn btn-lg pull-right" type="button">Place Order</button>
                        </div>
                    </div>
                </div>

                <div class="row setup-content" id="step-3">
                    <div class="col-xs-6 col-md-offset-3">
                        <div class="col-md-12">
                            <h3>Order successfully made. Thank you for shopping with us! Hope to shop with you again.</h3>
                            <button class="btn btn-success btn-lg pull-right" type="submit">Okay</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>

        <script>
            $(document).ready(function () {
                var navListItems = $('div.setup-panel div a'),
                    allWells = $('.setup-content'),
                    allNextBtn = $('.nextBtn');

                allWells.hide();

                navListItems.click(function (e) {
                    e.preventDefault();
                    var $target = $($(this).attr('href')),
                        $item = $(this);

                    if (!$item.hasClass('disabled')) {
                        navListItems.removeClass('btn-success').addClass('btn-default');
                        $item.addClass('btn-success');
                        allWells.hide();
                        $target.show();
                        $target.find('input:eq(0)').focus();
                    }
                });

                allNextBtn.click(function () {
                    var curStep = $(this).closest(".setup-content"),
                        curStepBtn = curStep.attr("id"),
                        nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                        curInputs = curStep.find("input[type='text'],input[type='url']"),
                        isValid = true;

                    $(".form-group").removeClass("has-error");
                    for (var i = 0; i < curInputs.length; i++) {
                        if (!curInputs[i].validity.valid) {
                            isValid = false;
                            $(curInputs[i]).closest(".form-group").addClass("has-error");
                        }
                    }

                    if (isValid)
                        nextStepWizard.removeAttr('disabled').trigger('click');
                });

                $('div.setup-panel div a.btn-success').trigger('click');
            });*@
    @*</script>*@

    <header class="header">
        <h1 class="header__title">CHECKOUT</h1>
    </header>
    <div class="content">
        <div class="content__inner">
           
            <div class="container overflow-hidden">
                <div class="multisteps-form">
                    <div class="row">
                        <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                            <div class="multisteps-form__progress">
                                <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">Personal Info</button>
                                <button class="multisteps-form__progress-btn" type="button" title="Order Info">Order Info & Shipping</button>
                                <button class="multisteps-form__progress-btn" type="button" title="Message">Information Review</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-8 m-auto">
                            <form class="multisteps-form__form">
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Your User Info</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <input class="multisteps-form__input form-control" type="text" placeholder="First Name" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <input class="multisteps-form__input form-control" type="text" placeholder="Last Name" />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-12">
                                                <input class="multisteps-form__input form-control" type="text" placeholder="Address" />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <input class="multisteps-form__input form-control" type="text" placeholder="Country" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <input class="multisteps-form__input form-control" type="text" placeholder="Zip/Postal Code" />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <input class="multisteps-form__input form-control" type="text" placeholder="Phone Number" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <input class="multisteps-form__input form-control" type="text" placeholder="Email" />
                                            </div>
                                        </div>
                                        <div class="button-row d-flex mt-4">
                                            <button class="btn ml-auto js-btn-next" type="button" title="Next" style="background-color: #5a842e; color:#fff8e8">Next</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Your Order/s:</h3>
                                    <div class="row">
                                        <div class="col-12 col-md-6 mt-4">
                                            <div class="card shadow-sm">
                                                <div class="card-body">
                                                    <h5 class="card-title">Item Name</h5>
                                                    <p class="card-text">Item description</p><a class="btn" href="#" title="Item Link" style="background-color: #5a842e; color:#fff8e8">Item Link</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 mt-4">
                                            <div class="card shadow-sm">
                                                <div class="card-body">
                                                    <h5 class="card-title">Item Name</h5>
                                                    <p class="card-text">Item description</p><a class="btn" href="#" title="Item Link" style="background-color: #5a842e; color:#fff8e8">Item Link</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <h3 class="multisteps-form__title">Shipping Information</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                                <select class="multisteps-form__select form-control">
                                                    <option selected="selected">COD Courier</option>
                                                    <option>J&T</option>
                                                    <option>LBC</option>
                                                    <option>Lalamove</option>
                                                    <option>Grab</option>
                                                    <option>Mr. Speedy</option>
                                                </select>
                                            </div>
                                        </div><br /><h5>NOTE: This shop only supports Cash on Delivery (COD) as mode of payment</h5>
                                        <div class="button-row d-flex mt-4">
                                            <button class="btn js-btn-prev" type="button" title="Prev" style="background-color: #5a842e; color:#fff8e8">Prev</button>
                                            <button class="btn ml-auto js-btn-next" type="button" title="Next" style="background-color: #5a842e; color:#fff8e8">Confirm Order</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Order and Delivery Review</h3>
                                    <div class="multisteps-form__content">
                                        <div class="row">
                                            <div class="col-12 col-md-12 mt-4">
                                                <div class="card shadow-sm">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Personal Info</h5>
                                                        <p class="card-text">First & Last Name</p>
                                                        <p class="card-text">Email</p>
                                                        <p class="card-text">Phone Number</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 mt-4">
                                                <div class="card shadow-sm">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Address</h5>
                                                        <p class="card-text">Street, City, Province</p>
                                                        <p class="card-text">ZIP/Postal Code, Country</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 mt-4">
                                                <div class="card shadow-sm">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Shipping</h5>
                                                        <p class="card-text">Choice of courier</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="card shadow-sm">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Total</h5>
                                                        <p class="card-text">PHP .....</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            
                                            <div class="button-row d-flex mt-4 col-12">
                                                <h3 class="multisteps-form__title">Order succssfully made. Thank you for shopping with Oukay!</h3>
                                                <button class="btn ml-auto js-btn-next" type="button" title="Next" style="background-color: #5a842e; color:#fff8e8">View shop</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                             
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <script src="~/Media/function.js"></script>
    <script src="~/Media/script.js"></script>
    <!--========== SCROLL TOP ==========-->
    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--========== MAIN JS ==========-->
    <script src="assets/js/main.js"></script>
</body>
</html>
