@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OUKAY</title>
    <link rel="shortcut icon" type="image/x-icon" href="/Media/logo.png">
    <script src="~/Models/assets/js/main.js"></script>
    <link href="~/Models/assets/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>

    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="~/GrpAct/Home" class="nav__logo">Oukay</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="~/GrpAct/Home" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#menu" class="nav__link">Featured</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">Shop</a></li>
                    <li class="nav__item"><a href="~/GrpAct/Login" class="nav__link">Login</a></li>
                    <li class="nav__item"><a href="~/GrpAct/Login" class="nav__link"><i class="fa fa-shopping-cart"></i></a></li>
                    <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>


    <!--========== SHIPPING ==========-->
    <section class="app section bd-container">
        <div class="app__container bd-grid">
            <div class="app__data">
                <span class="section-subtitle app__initial">Shipping</span>
                <h2 class="section-title app__initial">Shipping Policy</h2>
                <p class="app__description">
                    Oukay Team ship out packages every Wednesdays and Saturdays via Gogo Xpress Shipping Courier.
                    For Metro Manila, expect your packages to arrive after 2-3 days.
                    For Luzon, Visayas, and Mindanao, expect your packages to arrive after 2-7 days.
                </p>
                <br/>
                <p class="app__description">
                    We only do Cash on Delivery 
                </p>
                <div class="app__stores">
                    <a href="#"><img src="assets/img/app1.png" alt="" class="app__store"></a>
                    <a href="#"><img src="assets/img/app2.png" alt="" class="app__store"></a>
                </div>
            </div>
            <img src="~/Media/ship.png" alt="" class="app__img" />
        </div>
    </section>
    <hr style="        width: 50%;
        border-top: 3px solid #ffef2a;" />

    <!--========== FOOTER ==========-->
    <footer class="footer section bd-container">
        <div class="footer__container bd-grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">Oukay</a>
                <span class="footer__description">Clothing</span>
                <div>
                    <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Services</h3>
                <ul>
                    <li><a href="#" class="footer__link">Featured</a></li>
                    <li><a href="#" class="footer__link">Shop</a></li>
                    <li><a href="#" class="footer__link">Shipping</a></li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Information</h3>
                <ul>
                    <li><a href="#" class="footer__link">About</a></li>
                    <li><a href="#" class="footer__link">Sign In</a></li>
                    <li><a href="#" class="footer__link">Terms of services</a></li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Contact Us</h3>
                <ul>
                    <li>0917 707 3576</li>
                    <li>1708 Lancer St.</li>
                    <li>Parañaque, Metro Manila</li>
                    <li>881-Oukay</li>
                    <li>oukay.clothing@email.com</li>
                </ul>
            </div>
        </div>

        <p class="footer__copy">&#169; 2020 Oukay. All right reserved</p>
    </footer>

    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--========== MAIN JS ==========-->
    <script src="assets/js/main.js"></script>
</body>
</html>
